.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: start;
  background-color: #2e8b57;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
  color: #ffd700;
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
