.table-container {
  overflow-x: auto;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.my-table th {
  background-color: #5ec29b;
  color: white;
  padding: 10px;
  text-align: center;
}

.my-table td {
  padding: 28px;
  border-bottom: 1px solid #ccc;
}

.my-table tr:hover {
  background-color: #f3f4f6;
}
.editCell {
  text-align: center;
  padding: 20px;
}
a {
  color: "blue";
}
.addIcon {
  color: #28a745;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: "5px";
}
ul {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
li {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
  gap: 6px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
